flows.json
[{"id":"1f04fbda.518bc4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e132d69.9b0db","type":"aedes broker","z":"1f04fbda.518bc4","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":110,"y":20,"wires":[[]]},{"id":"e28cd2dc.adf0c","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":470,"y":100,"wires":[[]]},{"id":"c542891f.f7a318","type":"mqtt in","z":"1f04fbda.518bc4","name":"","topic":"teste1","qos":"2","datatype":"auto","broker":"7125f331.ad526c","nl":false,"rap":true,"rh":0,"x":70,"y":80,"wires":[["4ebc2992.e07b68"]]},{"id":"90bb0fec.158fe","type":"function","z":"1f04fbda.518bc4","name":"","func":"var temperature = msg.payload.teste1\nmsg.topic = \"INSERT INTO projeto(`temperatura`) VALUES ('\"+temperature+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":100,"wires":[["e28cd2dc.adf0c"]]},{"id":"6541aa95.242cb4","type":"debug","z":"1f04fbda.518bc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"b4e66667.64c0a8","type":"inject","z":"1f04fbda.518bc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["e5ef23a0.495aa"]]},{"id":"e5ef23a0.495aa","type":"function","z":"1f04fbda.518bc4","name":"","func":"msg.topic = \"SELECT * FROM projeto order by timeStamp DESC limit 10;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["24cd9e2a.a01872"]]},{"id":"24cd9e2a.a01872","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":410,"y":160,"wires":[["11b17f5d.ad9631"]]},{"id":"11b17f5d.ad9631","type":"ui_template","z":"1f04fbda.518bc4","group":"80340f0.1dcd4f","name":"Temperatura","order":0,"width":"6","height":"6","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>Temperatura</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: white\">{{row.timeStamp}}</span>\n  <span flex style=\"color: white\">{{row.temperatura}} °C</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":570,"y":160,"wires":[[]]},{"id":"41252492.3e428c","type":"inject","z":"1f04fbda.518bc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":220,"wires":[["2be4e876.4ec6b8"]]},{"id":"2be4e876.4ec6b8","type":"function","z":"1f04fbda.518bc4","name":"","func":"msg.topic = \"SELECT * FROM projeto where timeStamp >= now() - 84600;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[["ed83210e.982de"]]},{"id":"ed83210e.982de","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":410,"y":220,"wires":[["337d867.4c5a47a"]]},{"id":"337d867.4c5a47a","type":"change","z":"1f04fbda.518bc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"temperatura (°C)\" , \"field\": \"temperatura\"  },\t    { \"label\": \"umidade (%)\", \"field\": \"umidade\" }\t    \t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["d6808735.ca34a8"]]},{"id":"d6808735.ca34a8","type":"ui_chart","z":"1f04fbda.518bc4","name":"","group":"80340f0.1dcd4f","order":1,"width":0,"height":0,"label":"Temperatura X Tempo ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f7f7f7","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":220,"wires":[[]]},{"id":"93b4e238.0455a","type":"join","z":"1f04fbda.518bc4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":190,"y":100,"wires":[["6541aa95.242cb4","90bb0fec.158fe"]]},{"id":"4ebc2992.e07b68","type":"ui_gauge","z":"1f04fbda.518bc4","name":"","group":"80340f0.1dcd4f","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#002aff","#00ff59","#ca3838"],"seg1":"","seg2":"","x":190,"y":60,"wires":[]},{"id":"2b8fe09e.d3b8a","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":470,"y":340,"wires":[[]]},{"id":"4a3cd1fe.0171c","type":"inject","z":"1f04fbda.518bc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["599a4270.f8ed6c"]]},{"id":"599a4270.f8ed6c","type":"function","z":"1f04fbda.518bc4","name":"","func":"msg.topic = \"SELECT * FROM projeto order by timeStamp DESC limit 10;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":400,"wires":[["5ebc549a.d6e14c"]]},{"id":"5ebc549a.d6e14c","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":410,"y":400,"wires":[["a5444945.1f7408"]]},{"id":"a5444945.1f7408","type":"ui_template","z":"1f04fbda.518bc4","group":"9a164c53.0c6ce","name":"pH","order":0,"width":"6","height":"6","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>pH</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: white\">{{row.timeStamp}}</span>\n  <span flex style=\"color: white\">{{row.pH}} pH</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":570,"y":400,"wires":[[]]},{"id":"647af93f.a0b768","type":"inject","z":"1f04fbda.518bc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[["15b5f5aa.0094aa"]]},{"id":"15b5f5aa.0094aa","type":"function","z":"1f04fbda.518bc4","name":"","func":"msg.topic = \"SELECT * FROM projeto where timeStamp >= now() - 84600;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":460,"wires":[["bdb1ab99.3f8e28"]]},{"id":"bdb1ab99.3f8e28","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":410,"y":460,"wires":[["d3d4c2f7.cdbd1"]]},{"id":"d3d4c2f7.cdbd1","type":"change","z":"1f04fbda.518bc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"pH\" , \"field\": \"pH\"  },\t    { \"label\": \"umidade (%)\", \"field\": \"umidade\" }\t    \t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["d6d40b71.8bd628"]]},{"id":"d6d40b71.8bd628","type":"ui_chart","z":"1f04fbda.518bc4","name":"","group":"9a164c53.0c6ce","order":1,"width":0,"height":0,"label":"pH X Tempo","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f7f7f7","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":460,"wires":[[]]},{"id":"b048db6a.dfd7d8","type":"ui_gauge","z":"1f04fbda.518bc4","name":"","group":"9a164c53.0c6ce","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"pH","format":"{{value}}","min":0,"max":"14","colors":["#002aff","#00ff59","#ca3838"],"seg1":"","seg2":"","x":190,"y":300,"wires":[]},{"id":"fe2ea331.6651f","type":"function","z":"1f04fbda.518bc4","name":"","func":"var pH = msg.payload.teste2\nmsg.topic = \"INSERT INTO projeto(`pH`) VALUES ('\"+pH+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["2b8fe09e.d3b8a"]]},{"id":"34770ef4.ee2c32","type":"mqtt in","z":"1f04fbda.518bc4","name":"","topic":"teste2","qos":"2","datatype":"auto","broker":"7125f331.ad526c","nl":false,"rap":true,"rh":0,"x":70,"y":320,"wires":[["b048db6a.dfd7d8"]]},{"id":"357581ff.231cae","type":"join","z":"1f04fbda.518bc4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":190,"y":340,"wires":[["fe2ea331.6651f"]]},{"id":"b97cd96e.5b1958","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":510,"y":580,"wires":[[]]},{"id":"e2b77ffe.3b914","type":"function","z":"1f04fbda.518bc4","name":"","func":"var CondutividadeEletrica = msg.payload.teste3\nmsg.topic = \"INSERT INTO projeto(`CondutividadeEletrica`) VALUES ('\"+CondutividadeEletrica+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":580,"wires":[["b97cd96e.5b1958"]]},{"id":"12cb9892.ed5c17","type":"inject","z":"1f04fbda.518bc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["d023ce40.ee7e5"]]},{"id":"d023ce40.ee7e5","type":"function","z":"1f04fbda.518bc4","name":"","func":"msg.topic = \"SELECT * FROM projeto order by timeStamp DESC limit 10;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":640,"wires":[["de9d6839.0c21e8"]]},{"id":"de9d6839.0c21e8","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":410,"y":640,"wires":[["4f154684.08b9d8"]]},{"id":"4f154684.08b9d8","type":"ui_template","z":"1f04fbda.518bc4","group":"eb199c34.15cae","name":"Condutividade Elétrica","order":0,"width":"6","height":"6","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>Condutividade</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: white\">{{row.timeStamp}}</span>\n  <span flex style=\"color: white\">{{row.CondutividadeEletrica}} ppm</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":640,"wires":[[]]},{"id":"5a23ed97.fcf404","type":"inject","z":"1f04fbda.518bc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["fc65636.d228fa"]]},{"id":"fc65636.d228fa","type":"function","z":"1f04fbda.518bc4","name":"","func":"msg.topic = \"SELECT * FROM projeto where timeStamp >= now() - 84600;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":700,"wires":[["c5167322.22ae7"]]},{"id":"c5167322.22ae7","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":410,"y":700,"wires":[["9d2548b0.4cec78"]]},{"id":"9d2548b0.4cec78","type":"change","z":"1f04fbda.518bc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"Condutividade Eletrica (ppm)\" , \"field\": \"CondutividadeEletrica\"  },\t    { \"label\": \"umidade (%)\", \"field\": \"umidade\" }\t    \t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":700,"wires":[["5b313806.a92e28"]]},{"id":"5b313806.a92e28","type":"ui_chart","z":"1f04fbda.518bc4","name":"","group":"eb199c34.15cae","order":1,"width":0,"height":0,"label":"Condutividade Elétrica X Tempo","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f7f7f7","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":700,"wires":[[]]},{"id":"93bbbeab.cb9e7","type":"ui_gauge","z":"1f04fbda.518bc4","name":"","group":"eb199c34.15cae","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"ppm","format":"{{value}}","min":0,"max":"1500","colors":["#002aff","#00ff59","#ca3838"],"seg1":"","seg2":"","x":210,"y":540,"wires":[]},{"id":"88932480.aaf968","type":"mqtt in","z":"1f04fbda.518bc4","name":"","topic":"teste3","qos":"2","datatype":"auto","broker":"7125f331.ad526c","nl":false,"rap":true,"rh":0,"x":90,"y":560,"wires":[["93bbbeab.cb9e7"]]},{"id":"9491bf1f.ddbf4","type":"join","z":"1f04fbda.518bc4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":210,"y":580,"wires":[["e2b77ffe.3b914"]]},{"id":"a8ca5e78.42833","type":"mqtt in","z":"1f04fbda.518bc4","name":"","topic":"teste1","qos":"0","datatype":"auto","broker":"7125f331.ad526c","nl":false,"rap":true,"rh":0,"x":90,"y":820,"wires":[["6112976d.8ba478"]]},{"id":"6c3de200.aa790c","type":"mqtt in","z":"1f04fbda.518bc4","name":"","topic":"teste2","qos":"0","datatype":"auto","broker":"7125f331.ad526c","nl":false,"rap":true,"rh":0,"x":90,"y":880,"wires":[["6112976d.8ba478"]]},{"id":"d57f5a23.3b8908","type":"mqtt in","z":"1f04fbda.518bc4","name":"","topic":"teste3","qos":"0","datatype":"auto","broker":"7125f331.ad526c","nl":false,"rap":true,"rh":0,"x":90,"y":940,"wires":[["6112976d.8ba478"]]},{"id":"6112976d.8ba478","type":"join","z":"1f04fbda.518bc4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":230,"y":880,"wires":[["4f26cc4f.aa4984","4abad5ea.80a4fc"]]},{"id":"4f26cc4f.aa4984","type":"function","z":"1f04fbda.518bc4","name":"","func":"var temperature = msg.payload.teste1\nvar pH = msg.payload.teste2\nvar CondutividadeEletrica = msg.payload.teste3\nmsg.topic = \"INSERT INTO projeto(`temperatura`,`pH`,`CondutividadeEletrica`) VALUES ('\"+temperature+\"','\"+pH+\"','\"+CondutividadeEletrica+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":880,"wires":[["730404ef.6d265c"]]},{"id":"e88c559b.c2fb28","type":"mysql","z":"1f04fbda.518bc4","mydb":"5f355cf2.62d714","name":"","x":670,"y":880,"wires":[[]]},{"id":"730404ef.6d265c","type":"delay","z":"1f04fbda.518bc4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":880,"wires":[["e88c559b.c2fb28"]]},{"id":"4abad5ea.80a4fc","type":"debug","z":"1f04fbda.518bc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":820,"wires":[]},{"id":"5f355cf2.62d714","type":"MySQLdatabase","name":"","host":"mysqlserver.cfqzldags81h.sa-east-1.rds.amazonaws.com","port":"3306","db":"projetoraquel","tz":"BR","charset":"UTF8"},{"id":"7125f331.ad526c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"80340f0.1dcd4f","type":"ui_group","name":"Temperatura","tab":"c6ccb9e8.52d408","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a164c53.0c6ce","type":"ui_group","name":"pH","tab":"c6ccb9e8.52d408","order":2,"disp":true,"width":"6","collapse":false},{"id":"eb199c34.15cae","type":"ui_group","name":"Condutividade Elétrica","tab":"c6ccb9e8.52d408","order":3,"disp":true,"width":"6","collapse":false},{"id":"c6ccb9e8.52d408","type":"ui_tab","name":"Projeto Hidroponia - Parâmetros Solução Nutritiva","icon":"dashboard","disabled":false,"hidden":false}]